.socialicons {
	padding-right: 10px;
}

.carouselimage {
	height: 500px;
}

.signin {
	padding-right: 10px;
}

#textcolourwhite {
	color: white;
}

.margintobutton {
	margin-right: 20px;
}

.cardsize {
	margin-top: 20px;
	height: 100px;
}

#footer {
	height: 25px;
	margin-top: 10px;
	background-color: #343a40;
}

#deckheight {
	height: 300px;
}

.cardmargin {
	margin: 10px;
}

#bookingform {
	border: 1px
}

#twoway {
	margin-top: 4px;
}

#gobutton {
	width: 100px;
}

.slabo {
	font-family: 'Slabo 20px', serif;
	color: white;
}

.worksans {
	font-family: 'Work Sans', sans-serif;
}

.muli {
	font-family: 'Muli', sans-serif;
}

.fira {
	font-family: 'Fira Sans', sans-serif;
}

#border {
	border-bottom: 1px
}

.arvo {
	font-family: 'Arvo', serif;
}

.one {
	font-family: 'Patua One', cursive;
}

#cities {
	border-left: none;
	border-right: none;
	border-top: 2px solid;
	margin-top: 10px;
	color: lightgrey;
	font-size: 15px;
}
.crd {
	background-color: #4169E1;
}